@model IPagedList<HotelReservationsManager.Models.Client>
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using X.PagedList.Mvc.Core.Common;

@{
    ViewData["Title"] = "Index";
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>

<script>
    $(document).ready(function () {
        var pageSize = Cookies.get("pageSize");
        if (pageSize !== undefined) {
            $(`#${pageSize}`).prop('checked', true);
        }
    });

    function UpCookie(evn) {
        Cookies.set("pageSize", evn.value);
        window.location = '@Url.Action("Index")';
    }

</script>

<h1>Index</h1>

<div class="form-check form-check-inline">
    <input id="1" class="form-check-input" type="radio" name="inlineRadioOptions" value="1" onclick="UpCookie(this)">
    <label class="form-check-label" for="inlineRadio1">1</label>
</div>
<div class="form-check form-check-inline">
    <input id="10" class="form-check-input" type="radio" name="inlineRadioOptions" value="10" onclick="UpCookie(this)">
    <label class="form-check-label" for="inlineRadio1">10</label>
</div>
<div class="form-check form-check-inline">
    <input id="25" class="form-check-input" type="radio" name="inlineRadioOptions" value="25" onclick="UpCookie(this)">
    <label class="form-check-label" for="inlineRadio1">25</label>
</div>
<div class="form-check form-check-inline">
    <input id="50" class="form-check-input" type="radio" name="inlineRadioOptions" value="50" onclick="UpCookie(this)">
    <label class="form-check-label" for="inlineRadio1">50</label>
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    @*<thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.firstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.lastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.phoneNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.isAdult)
                </th>
                <th></th>
            </tr>
        </thead>*@
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.firstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.lastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.phoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.isAdult)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))

