@model Room;

<div id="RoomPartial">
    <label for="roomCapacity">Room Capacity</label>
    <input type="number" min="0" id="roomCapacity" />
    <br />
    <label for="roomType">Room Type</label>
    <select asp-items="ViewBag.type" id="roomType">
        <option value="Select Apartment Type">Select Apartment Type</option>
    </select>
    <br />
    <input hidden type="checkbox" name="bSearch" value="true" checked id="roombSearch" />
    <br />
    <input type="button" value="Search" onclick="ReloadRoomVC()" />

    @if (Model != null)
    {
        <p>Room to reserve</p>
        <p>ID</p>
        <input id="TBARIDVC" readonly name="room.ID" value="@Model.ID" />
        <p>type</p>
        <input id="TBARtypeVC" readonly name="room.type" value="@Model.type" />
        <p>capacity</p>
        <input id="TBARcapacityVC" readonly name="room.capacity" value="@Model.capacity" />
        <p>bedAdultPrice</p>
        <input id="TBARbedAdultPriceVC" readonly name="room.bedAdultPrice" value="@Model.bedAdultPrice" />
        <p>bedChildPrice</p>
        <input id="TBARbedChildPriceVC" readonly name="room.bedChildPrice" value="@Model.bedChildPrice" />
    }
    else
    {
        <p>Room to reserve</p>
        <p>ID</p>
        <input id="TBARIDVC" readonly name="room.ID" />
        <p>type</p>
        <input id="TBARtypeVC" readonly name="room.type" />
        <p>capacity</p>
        <input id="TBARcapacityVC" readonly name="room.capacity" />
        <p>bedAdultPrice</p>
        <input id="TBARbedAdultPriceVC" readonly name="room.bedAdultPrice" />
        <p>bedChildPrice</p>
        <input id="TBARbedChildPriceVC" readonly name="room.bedChildPrice" />
    }

    <br />
    <hr />
    <div id="RoomViewComp">
        @await Component.InvokeAsync("RoomSelector")
    </div>

</div>

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
