@model HotelReservationsManager.Models.Reservation

@{
    ViewData["Title"] = "Create";
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js" integrity="sha512-DedNBWPF0hLGUPNbCYfj8qjlEnNE92Fqn7xd3Sscfu7ipy7Zu33unHdugqRD3c4Vj7/yLv+slqZhMls/4Oc7Zg==" crossorigin="anonymous"></script>


<script>

    function ReloadRoomVC() {
       $.ajax({
            url: '@Url.Action("ReloadRoomSelectorViewComp", "Reservations")',
           type: "POST",
           data: { capacity: $(`#roomCapacity`).val(), type: $(`#roomType option:selected`).text(), bSearch: $("#roombSearch").val() },
            success: function (data) {
                $(`#RoomViewComp`).html(data);
            }
        })
    }

    function ListUserInputs() {
        var howMany = Math.abs($('#userInputsHowMany').val());
        $("#UserInputListed").html(null);
        for (i = 0; i < howMany; i++) {
            $.get("@Url.Action("OnGetClientReservationInputPartial", "Reservations")", { whichVC:i + 2}, function (data) {
                $("#UserInputListed")
                    .append(data);
            });
        }
    }

    function ReloadViewComp(whichVC) {
        $.ajax({
            url: '@Url.Action("ReloadListedClientViewComp", "Reservations")',
            type: "POST",
            data: { firstName: $(`#firstName_${whichVC}`).val(), lastName: $(`#lastName_${whichVC}`).val(), "whichVC": whichVC },
            success: function (data) {
                $(`#ClientViewComp_${whichVC}`).html(data);
            }
        })
    }

    $(document).ready(function () {
        document.getElementById("reservationDate").min = new Date().toISOString().split("T")[0];
    });

    function UpCookie(evn, whichVC) {
        Cookies.set("pageSize", evn.value);
        ReloadViewComp(whichVC);
    }

    function UpCookieRoom(evn) {
        Cookies.set("pageSize", evn.value);
        ReloadRoomVC();
    }

    function SetUserValuesInInput(innerIndex, whichVC) {
        $(`#TBAID_${whichVC}`).val($(`#CIDVC_${innerIndex}${whichVC}`).val());
        $(`#TBAfirstName_${whichVC}`).val($(`#CfirstNameVC_${innerIndex}${whichVC}`).val());
        $(`#TBAlastName_${whichVC}`).val($(`#ClastNameVC_${innerIndex}${whichVC}`).val());
        $(`#TBAphoneNumber_${whichVC}`).val($(`#CphoneNumberVC_${innerIndex}${whichVC}`).val());
        $(`#TBAemail_${whichVC}`).val($(`#CemailVC_${innerIndex}${whichVC}`).val());
        if ($(`#CisAdultVC_${innerIndex}${whichVC}`).is(':checked')) {
            document.getElementById(`TBAisAdult_${whichVC}`).checked = true;
        }
    }

    function SetRoomValuesInInput(innerIndex) {
        $(`#TBARIDVC`).val($(`#RIDVC_${innerIndex}`).val());
        $(`#TBARtypeVC`).val($(`#RtypeVC_${innerIndex}`).val());
        $(`#TBARcapacityVC`).val($(`#RcapacityVC_${innerIndex}`).val());
        $(`#TBARbedAdultPriceVC`).val($(`#RbedAdultPriceVC_${innerIndex}`).val());
        $(`#TBARbedChildPriceVC`).val($(`#RbedChildPriceVC_${innerIndex}`).val());
    }

    function releaseDateMinValUpdate() {
        document.getElementById("releaseDate").min = document.getElementById("reservationDate").value;
    }

</script>

<h1>Create</h1>

<h4>Reservation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="reservationDate" class="control-label"></label>
                <input asp-for="reservationDate" type="date" class="form-control" id="reservationDate" onchange="releaseDateMinValUpdate()" />
                <span asp-validation-for="reservationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="releaseDate" class="control-label"></label>
                <input asp-for="releaseDate" type="date" class="form-control" id="releaseDate" />
                <span asp-validation-for="releaseDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="breakfast" /> @Html.DisplayNameFor(model => model.breakfast)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="allInclusive" /> @Html.DisplayNameFor(model => model.allInclusive)
                </label>
            </div>
            <h2>Which room are the users going to stay in?</h2>
            <div id="RoomInput">
                <partial name="_RoomReservationInputPartial" />
            </div>
            <h2>How many users will be in this room?</h2>
            <input type="number" id="userInputsHowMany" />
            <input type="button" value="Load User Inputs" onclick="ListUserInputs()" />
            <div id="UserInputListed">

            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
